@model IEnumerable<AdelfyStore.Models.TblOrderHistory>
@using AdelfyStore.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">

    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Order History</h3>
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Order History</li>
            </ol> -->
        </div>
        <div class="col-md-7 col-4 align-self-center">
           <a href="@Url.Action("Edit", "StoreInformations", new { id = Convert.ToInt32(BaseUtil.GetSessionValue(AdminInfo.StoreID.ToString())) })" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down m-r-5"> Back To Store</a>
			
        </div>
    </div>

    <div class="row">
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                   <div class="table-responsive">
					 @{
                            if (Model.Count() == 0)
                            {
                                <h4>No records found</h4>
                            }
                            else
                            {
                        <table id="MyTable" class="table table-border table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #@Html.DisplayNameFor(model => model.OrderID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderByName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TblProduct.ProductName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.productQuantity)
                                    </th>
                                    <!-- <th>
        @Html.DisplayNameFor(model => model.ProductPrice)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TotalSubPrice)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TotalPrice)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.CreatedDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </th> -->

                                    <th>
                                        @Html.DisplayNameFor(model => model.TblOrderStatu.Status)
                                    </th>
                                    <!-- <th>
        @Html.DisplayNameFor(model => model.TblUserInformation.UserName)
    </th> -->
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderByName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderByName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TblProduct.ProductName)<br />
                                        @Html.DisplayFor(modelItem => item.ProductAtrributes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.productQuantity)
                                    </td>
                                    <!-- <td>
        @Html.DisplayFor(modelItem => item.ProductPrice)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TotalSubPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalPrice)
    </td>

    <td>
        @item.CreatedDate.ToString("MM/dd/yyyy")
    </td>
    <td>
        @item.ModifiedDate.ToString("MM/dd/yyyy")
    </td> -->

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TblOrderStatu.Status)
                                    </td>
                                    <!-- <td>
        @Html.DisplayFor(modelItem => item.TblUserInformation.UserName)
    </td> -->
                                    <td>
                                        <a class="btn waves-effect waves-light btn-info hidden-sm-down" href="@Url.Action("Details", "ReportOrderHistories", new { id = item.OrderID })"><i class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
						}
					}	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#MyTable").dataTable();
    })
</script>